/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

/* tailwind dependencies*/
@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: lighter;
  color: rgba(245, 91, 195, 1);
}
h1,
p {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Helvetica Neue";
  background: var(
    --Linear-2,
    linear-gradient(90deg, #b657fa 30.56%, #f55bc3 48.78%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
